<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
    <script src="scripts/doc.js"></script>
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=&libraries=places"></script> -->
</head>
 <style>
    .jumbotron {
        background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd0AgrkXzK-uC5zDQiqCmzlSq_zIJ8Ft_XJJ12X-fm3HQMCgXqdQ&s');
        height: 200px;
        text-align: center;
        background-repeat: no-repeat;
    }
</style>
<body>
    <div id="map">

    </div>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4"><b>BETTER DOCTOR<i class="fa fa-user-md" aria-hidden="true"></i></b></h1>
        </div>
    </div>

    <div id="content-placeholder" style="visibility:hidden">
       <!-- <script id="docs-template" type="text/x-handlebars-template"> -->
        <div style="text-align:center">
            <p>Results<p />
            <hr>
            <br/>
        </div>
        <div class="container main">
            <div class="row">
                <div class="col-sm-4">
                    <div class="img-thumbnail">
                        <div class="caption">
                            <h1><strong> Dr.M L Arora </strong></h1>
                        </div>
                        <h3>ADDRESS</h3>
                        <p>  B1/9, Block B-1, Paschim Vihar, Delhi, 110063 </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="img-thumbnail">
                        <div class="caption">
                            <h1><strong> Dr. Sandeep Arora</strong></h1>
                        </div>
                        <h3>ADDRESS</h3>
                        <p> B-1/9, Paschim Vihar, Delhi, 110063</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="img-thumbnail">
                        <div class="caption">
                            <h1><strong> Dr. Anil K.Kalra</strong></h1>
                        </div>
                        <h3>ADDRESS</h3>
                        <p> GH-1/77(Archana Appt.), Near Peeragarhi Chowk Opposite, A 1 Block, Lal Market, Paschim Vihar, New Delhi, Delhi 110063</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="img-thumbnail">
                        <div class="caption">
                            <h1><strong> 
                                Dr. Kamal Batra</strong></h1>
                        </div>
                        <h3>ADDRESS</h3>
                        <p> A3/8, Jwala Heri Road, Landmark: Opposite Bank of Baroda</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="img-thumbnail">
                        <div class="caption">
                            <h1><strong> Dr.Nitant Singhal</strong></h1>
                        </div>
                        <h3>ADDRESS</h3>
                        <p> BG-6/245-A, Paschim Vihar. Landmark: Near Mother Dairy., Delhi</p>
                    </div>
                </div>

            </div>
        </div>
    <!-- </script> -->
    </div>
   

</body>
</html>

