<!DOCTYPE html>
<html>
    <head>
        <title>
          Insights Page
        </title>
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.css">
           
	</head>

	<style>
	   .jumbotron{
	   background:
	   height:500px;
	   width:100%;
	    text-align:center;
	   background-repeat:no-repeat;
	   }
	   .display-4{
	     text-align:left;
	   }
	</style>

	<body>
	<br>
	<div class="jumbotron">
       <div class="container">
            <h1 class="display-4"><b>Lets Empower Physically Handicapped!!<i class="icon edit "></i></b></h1>
			<h4 ><strong>Experience World of Virtual Reality & Connect with NGOs</strong></h4>
       </div>
    </div>

	<div class="container">
	 <section class="about-us" id="scroll-anchor">
	    <div class="about-us__features about-us__features--l-blue" style="background: linear-gradient(90deg, rgba(239,233,148,1) 0%, rgba(229,145,177,1) 50%, rgba(173,189,236,1) 100%);">
                
               <div class="container">
                     <div class="row">
                       <div class="col-sm">
					   <h1>Total Disabilities in India:</h1>
					   <br>
					  <h2>26.8 Million</h2>
                       </div>
                       <div class="col-sm">
                           <h1>Handicapped:</h1>
						   <br>
						   <h2>21 Million</h2>
                       </div>
                       <div class="col-sm">
                           <h1>Hearing Impairment:</h1>
						   <br>
						   <h2>18 Million</h2>
                       </div>
                     </div>
                   </div>
        </div>
	</section>

	<hr>
	<div class="container">
        <div class="row">
           <div class="col-md-6">
                  <div>
				    <h1>Enter Into Virtual Reality World!!</h1>
				  </div>

				  <br>
                   <div class="img-thumbnail card text-white bg-secondary mb-3">
                     <img src="">
                     <div class="caption">
                         <h4><strong>MOUNTAIN TOUR</strong></h4> 
                     </div>
					 <br>
                      <p> <strong>Visit and Experience Hiking, snow filled mountains and Mountain Climibing</strong></p>
                      <p >
                         Click Here to explore Mountain Tour:
						 <a href="/mountain" class="ui olive button">Mountain Tour</a>
                      </p>
                  </div>
				  <br>
				  <div class="img-thumbnail card bg-light mb-3">
                     <img src="">
                     <div class="caption">
                         <h4><strong>BEACH TOUR</strong></h4> 
                     </div>
					 <br>
                      <p><strong>Visit and Experience Beach Sites, Sea Shores and Beach Vibes</strong></p>
                      <p >
                         Click Here to explore Beach Tour:
						 <a href="/beaches" class="ui olive button">Beach Tour</a>
                      </p>
                  </div>
				  <br>
				   <div class="img-thumbnail card text-white bg-secondary mb-3">
                     <img src="">
                     <div class="caption">
                         <h4><strong>TEMPLE TOUR</strong></h4> 
                     </div>
					 <br>
                      <p><strong>Visit and Experience Various Religious Places,Magnificient Temples of India</strong></p>
                      <p >
                        Click Here to explore Temple Tour:
						 <a href="/temple" class="ui olive button">Temple Tour</a>
                      </p>
                  </div>
          </div>
     
           <div class="col-md-6">
		           <div>
				    <h1>Connect with NGOS</h1>
				  </div>
				  <br>
		             <div class="img-thumbnail card text-white bg-secondary mb-3">
                     <img src="">
                     <div class="caption">
                         <h4><strong>Register Your NGO</strong></h4> 
                     </div>
					 <br>
                      <p> <strong>Register Your NGO and get Connected with Specially Abled People directly!!</strong></p>
                      <p >
                         Click here to Register NGO
						 <a href="/newngo" class="ui olive button">Register NGO</a>
                      </p>
                  </div>
				  <br>
				  <div class="img-thumbnail card bg-light mb-3">
                     <img src="">
                     <div class="caption">
                         <h4><strong>Find and Connect with NGO</strong></h4> 
                     </div>
					 <br>
                      <p><strong>Find Different NGOs and connect with them by directly sending them Message</strong></p>
                      <p >
                         Click Here to Find Different NGOs.
						 <a href="/ngo" class="ui olive button">Explore NGO</a>
                      </p>
                  </div>
				 
				   
				    
           </div>
		    
        </div>
    </div>
	</div>
	


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

   </body>
   </html>