<!DOCTYPE html>
<html>
    <head>
        <title>
          Message 
        </title>
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/app.css">
    </head>
	<style>
	  .jumbotron{
	     background:url('https://www.newslaundry.com/uploads/2016/08/Article-Pic.jpg');
		 background-repeat:no-repeat;
		 background-position:cover;
		 height:290px;
		 text-align:center;
	  }
	</style>
    <body>
	<div class="jumbotron">
       <div class="container">
            <h1 class="display-4"><b>Write A Message!!</b></h1>
       </div>
    </div>

	<div class="ui  container">
       <h3 id="newCampgrounds"></h3>

<div class="ui main text container segment">
    <div class="ui huge header">Write Message to <%= ngo.name %></div>
    
    
<form  action="/ngo/<%= ngo._id%>/message" method="POST" class="ui form">
    
        <div class="fields">
            <div class="eight wide field">
                <label>Your Name</label>
                <input type="text" name="name" placeholder="enter name">
            </div>
        </div>
      
        <div class="field">
             <div class="eight  wide field">
                <label>Message</label>
                 <textarea  name="message" placeholder="enter message"></textarea>
            </div>
        </div>
    <button class="ui inverted green button "> <i class="icon edit "></i>Send Message</button>
   
</form>
<br></br>
<br></br>
</div>
</div>


	 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
         crossorigin="anonymous"> 
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
         crossorigin="anonymous">
      </script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
         crossorigin="anonymous">
      </script>



</body>
</html>