<!DOCTYPE html>
<html>
    <head>
        <title>
          healthcare 
        </title>
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		  <link rel="stylesheet" type="text/css" href="/stylesheet/ngo.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.css">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    </head>
	<style>
	
	   .jumbotron{
	     background:url('https://media.giphy.com/media/l2Sq3jYHktALKdQJO/giphy.gif');
	      width:100%;
		  height:400px;
		  text-align:right;
		  background-repeat:no-repeat;
	   }
	</style>
    <body>

	
<div class="jumbotron">
       <div class="container">
            <h2 class="display-4"><b>DONT WORRY WE ARE WITH YOU.<br>STAY STRONG!!</b></h2>
       </div>
</div>


 <div class="container main">
 <div class="row">
      <div class="col-sm-4">
        <div class="img-thumbnail">
		<img src="https://marketplace.canva.com/MADar-yk64o/1/screen_2x/canva-disabled-boy-in-wheelchair-laughing-with-teen-sister-in-kitchen-MADar-yk64o.jpg">
           <div class="caption">
               <h1><strong>LAUGH LOUD</strong></h1> 
           </div>
            <p></p>
           
        </div>
     </div>
	 <div class="col-sm-4">
        <div class="img-thumbnail">
		<img src="https://media.istockphoto.com/photos/disabled-young-tennis-player-sitting-in-wheelchair-and-laughing-on-picture-id691892120">
           <div class="caption">
               <h1><strong>PLAY GAMES</strong></h1> 
           </div>
            <p></p>
           
        </div>
     </div>
	
	 <div class="col-sm-4">
        <div class="img-thumbnail">
		<img src="https://img3.stockfresh.com/files/j/jarenwicklund/m/79/4505543_stock-photo-father-reading-book-to-disabled-little-son.jpg">
           <div class="caption">
               <h1><strong>READ BOOKS</strong></h1> 
           </div>
            <p></p>
           
        </div>
     </div>
	 <div class="col-sm-4">
        <div class="img-thumbnail">
		<img src="https://comps.gograph.com/two-young-disabled-kids-laughing-outdoors_gg67216660.jpg">
           <div class="caption">
               <h1><strong>CONNECT WITH PEOPLE</strong></h1> 
           </div>
            <p></p>
           
        </div>
     </div>
	 <div class="col-sm-4">
        <div class="img-thumbnail">
		<img src="https://media.istockphoto.com/photos/middle-aged-doctor-comforting-a-disabled-patient-picture-id518333742">
           <div class="caption">
               <h1><strong>MEET THE DOCTOR</strong></h1> 
           </div>
            <p></p>
           
        </div>
     </div>
	  

</div>
</div>


	  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
         crossorigin="anonymous"> 
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
         crossorigin="anonymous">
      </script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
         crossorigin="anonymous">
      </script>



</body>
</html>

